@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');
@import '/libs/bootstrap/dist/css/bootstrap.min.css';
@import '/libs/normalize-css/normalize.css';
@import '/libs/font-awesome-4.7.0/css/font-awesome.min';

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: #000;
	height: 150px;
	padding-top: 14px;
	margin-bottom: 17px;
}

#load {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	background: url(images/ajax-loader.gif);
	width: 43px;
	height: 11px;
	text-indent: -9999em;
}

.errors {
	background-color: #ff7676;
	color: #fff;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 17px;
	padding: 10px 0 10px 0;
}
.errors:before {
	content: ' ';
	font-family: 'FontAwesome';
}

.btn-login:before {
	content: ' ';
	font-family: 'FontAwesome';
}

.btn-signup:before {
	content: ' ';
	font-family: 'FontAwesome';
}